@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    display: none;
}


.ranga-regular {
    font-family: "Ranga", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  .ranga-bold {
    font-family: "Ranga", cursive;
    font-weight: 700;
    font-style: normal;
  }
  .ranga-regular {
    font-family: "Ranga", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  .ranga-bold {
    font-family: "Ranga", cursive;
    font-weight: 700;
    font-style: normal;
  }
  